.line-cards {
  display: grid;
  gap: 10px;
}

.line-card {
  color: #000;
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-auto-columns: 80px auto;
  grid-auto-rows: 80px;
  grid-auto-flow: column;
  background: #dcdcdc;
  border-radius: 15px;
  box-shadow: 0 0 30px #fff;
}

.ln-c-image {
  height: 100%;
  border-radius: 15px;
}

.ln-c-data {
  display: grid;
  grid-auto-flow: row;
  align-content: space-between;
  position: relative;
}

.ln-c-named {
  font-size: 17px;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
}

.ln-c-expenses {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}

.ln-c-counter {
  color: #fff;
  padding-block: 2.5px;
  display: grid;
  grid-auto-columns: 25px;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  background: #000;
  border-radius: 100px;
}

.ln-c-all-price {
  font-size: 16px;
}

.ln-c-remove {
  position: absolute;
  top: 0;
  right: 0;
}
