.cart-empty {
  color: #282828;
  display: grid;
  place-content: center;
}

.cart {
  display: grid;
  gap: 10px;
}

.cart-panel {
  color: #fff;
  padding: 10px 5px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  background: #282828;
  border-radius: 15px;
}