.check {
  display: grid;
  align-content: start;
  gap: 10px;
}

.check-conclusive {
  color: #fff;
  padding: 10px;
  display: grid;
  gap: 10px;
  background: #282828;
  border-radius: 5px;
}

.check-reservoir {
  display: grid;
  gap: 5px;
}

.check-card {
  color: #fff;
  padding: 10px;
  display: grid;
  grid-auto-columns: 150px auto auto auto;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  background: #282828;
  border-radius: 5px;
}
