@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");

.sidebar {
  width: 240px;
  height: 100%;
  padding: 5px;
  display: grid;
  grid-auto-rows: auto 1fr auto;
  background: #222;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-info {
  color: #ff0000;
  font-size: 40px;
  font-family: "Nanum Brush Script", serif;
  font-weight: 400;
  padding: 50px 0;
  text-align: center;
}

.sidebar-sections {
  display: grid;
  gap: 10px;
  align-content: start;
}

.sidebar-section {
  color: #fff;
  padding: 10px;
  background: #7a7a7a;
  border-radius: 10px;
}

.sidebar-close {
  text-align: center;
}