.side-bar {
  width: 250px;
  height: 100%;
  padding: 10px;
  display: grid;
  align-content: space-between;
  background: #282828;
  z-index: 666;
  position: fixed;
  top: 0;
  left: 0;
}

.se-br-list {
  display: grid;
  gap: 10px;
  grid-auto-flow: row;
}

.se-br-navigate {
  color: #000;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
}

.se-br-close {
  color: #000;
  background: #fff;
}
