.menu {
  display: grid;
  gap: 10px;
  position: relative;
}

.navigate-cart {
  color: #fff;
  font-size: 18px;
  padding: 10px 25px;
  background: #282828;
  border-radius: 100px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}